/target/
### Example user template template
### Example user template

# IntelliJ project files
.idea
.iml
.gitignore
.project
.settings
out
gen

product-biz/product-biz.iml
product-comm/product-comm.iml
product-config/product-config.iml
product-dal/product-dal.iml
product-provider/product-provider.iml
